Birth_Search.json
[{"id":"7c18aacc.0e4814","type":"tab","label":"Scraper 2.0","disabled":false,"info":""},{"id":"367b0a48.3f6ff6","type":"group","z":"7c18aacc.0e4814","name":"EPIC FHIR Patient information: Hurley","style":{"stroke":"#000000","fill":"#b797cf","fill-opacity":"0.42","label":true,"color":"#000000"},"nodes":["8c0bd642.9e8808","3143cb91.752134","c4501eba.50b3d","e0e5e423.fc9278","daebcd54.e4403","3f09c0ca.12aed","80717b0.ceb2588"],"x":11,"y":316,"w":1072,"h":122},{"id":"91ea135a.a2b6e","type":"group","z":"7c18aacc.0e4814","name":"Hapi FHIR Patient information","style":{"stroke":"#000000","fill":"#b797cf","fill-opacity":"0.42","label":true,"color":"#000000"},"nodes":["37443b0c.d11b94","19cc5fc1.e6696","d18fedd7.12b29"],"x":15,"y":219,"w":912,"h":82},{"id":"fc807737.64c5c8","type":"group","z":"7c18aacc.0e4814","name":"EPIC API Settings","style":{"stroke":"#000000","fill":"#ff3f3f","fill-opacity":"0.42","label":true,"color":"#000000"},"nodes":["b790d343.88871","cc76870e.ff9728","ec85d72e.daf768","c095a5a.e82b158","d9cabe72.b2bbc","e6f4311d.302ad"],"x":14,"y":69,"w":772,"h":132},{"id":"b1abfa6c.7d04e8","type":"function","z":"7c18aacc.0e4814","name":"Set Bearer token","func":"var idToken = msg.payload.idToken;\nmsg = {};\nmsg.payload = {};\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":1300,"wires":[["885fb922.489808"]]},{"id":"37443b0c.d11b94","type":"inject","z":"7c18aacc.0e4814","g":"91ea135a.a2b6e","name":"Start Bearer flow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"idToken\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzM4NCJ9.eyJpc3MiOiJmNTA5YjQwZC1jYzc2LTQ0NmEtOTQ5Zi1lZjMzYWNmMjEyZGIiLCJzdWIiOiJmNTA5YjQwZC1jYzc2LTQ0NmEtOTQ5Zi1lZjMzYWNmMjEyZGIiLCJhdWQiOiJodHRwczovL2ZoaXIuZXBpYy5jb20vaW50ZXJjb25uZWN0LWZoaXItb2F1dGgvb2F1dGgyL3Rva2VuIiwianRpIjoiODE2QTZFREQtMTZDMC00NkZELTlBODUtNEQ0OTFEOUY2M0FGIiwiaWF0IjoxNjM0OTE4Mzk5LCJleHAiOjE2MzQ5MTg3MzB9.HQ-KZ_U9I3ZgQbvKeiVWNXnla8I_QXuLkNddsbdh4WoGOHo9uJk19A7oD3lpL66qP_h3HhGi8ROo5tiX7EwremAAyJCmxFvrzy8W3Scz_RE8u5_X8fVK2sMJuhqdjyC7pcdmzqKlaIyGL3S6gJH2r2PZ_Kc74DK-EruSZbk-zf689dUSRqvvm0-oDEO6molCueauNMynwiBFU1raFX7LLQ-gTrIeHx_LNLTSy5gk2CuGucSRyVSAprkfvqIKCWCB4LcIkgXtcgXt3TmBXe7SzZ3wItFxDkJqzCdGitXkhPDw_KnY4joFiRWyciHUhGdLMNOCFIyHz-VvhtBl5PqO9A\"}","payloadType":"json","x":151,"y":260,"wires":[["19cc5fc1.e6696"]]},{"id":"4b7790e.83e0e7","type":"inject","z":"7c18aacc.0e4814","name":"GET  EPIC resource","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":140,"y":1260,"wires":[["b1abfa6c.7d04e8"]]},{"id":"885fb922.489808","type":"debug","z":"7c18aacc.0e4814","name":"Lin Family","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1300,"wires":[]},{"id":"69477626.bac9a8","type":"function","z":"7c18aacc.0e4814","name":"Set Bearer token","func":"//var idToken = msg.payload.idToken;\nmsg = {};\nmsg.payload = {};\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/fhir+json';\nmsg.headers['Authorization'] = \"Bearer \" + \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ1cm46b2lkOmZoaXIiLCJjbGllbnRfaWQiOiJmNTA5YjQwZC1jYzc2LTQ0NmEtOTQ5Zi1lZjMzYWNmMjEyZGIiLCJlcGljLmVjaSI6InVybjplcGljOk9wZW4uRXBpYy1jdXJyZW50IiwiZXBpYy5tZXRhZGF0YSI6IjZXcENXZDV0SEFtNFNSbmxuLVJodmFPcHdTWHZwNnBNallVX0cydmFFMEhKQmJwcXp0VEl6T0FXUjRuZkZabDRiSHlvdW12TXVhdGp2d1ZQeF9XanVJYUM5TkNCLUkyQXQxSHpSUjJLLUkzREMtQ1FEck1fWFBvWHFELWhOazlvIiwiZXBpYy50b2tlbnR5cGUiOiJhY2Nlc3MiLCJleHAiOjE2MzM2MTc0NDgsImlhdCI6MTYzMzYxMzg0OCwiaXNzIjoidXJuOm9pZDpmaGlyIiwianRpIjoiYTc2ZDc5ZWYtNWI5ZC00NjI4LWE1YzQtNWQzODI3ZDhjZjY4IiwibmJmIjoxNjMzNjEzODQ4LCJzdWIiOiJleGZvNkU0RVhqV3NuaEExT0dWRWxndzMifQ.M-e1rGJBN27Gu6IOtqbZ-IIWF2lCsxln1vrme974BQlP9jE4nCvPSIwFNE_WeXawZTBJNeLWPTUEFXH-e4gmBufxAHdWBg9gj8JIvLsOeqnTPs9CxNr9BdCHUvfmTUlBstlFMVJe5q5fhzdOHGHdFSB0xgAsZQmzD6Wds4A3Cr7o2UlMIn8H4NmcejTRsXiW79So4-LkaHIG9P_TK6UBhwMsEHcnEiW2dJytv1cASYBL6HVbibK4tPY_5zleZMm0T6xtPzobDZaJXDTc9WamFzFjP5skate-L9aTLDsS24Zh0IcjYoItcUNoPCu2js5Rxn4pEz_GieefLozQ5kaytw\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1260,"wires":[[]]},{"id":"3f49fb14.f10a64","type":"comment","z":"7c18aacc.0e4814","name":"Application API: Token handling","info":"","x":930,"y":20,"wires":[]},{"id":"3143cb91.752134","type":"http request","z":"7c18aacc.0e4814","g":"367b0a48.3f6ff6","name":"EPIC Metadata","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/r4/metadata?_pretty=true","tls":"","persist":false,"proxy":"","authType":"basic","x":352,"y":357,"wires":[["8c0bd642.9e8808"]]},{"id":"f2a23f4a.e5723","type":"catch","z":"7c18aacc.0e4814","name":"","scope":["bc6b18f2.117458","1ea02638.e2cd5a","34133498.1a693c","3143cb91.752134","9e7522f6.f66b3","9e8ab1a7.f54d9","19cc5fc1.e6696","b1abfa6c.7d04e8","37443b0c.d11b94","f3c9ae3e.39858","4b7790e.83e0e7","69477626.bac9a8","3f49fb14.f10a64","24d12aec.5303c6"],"uncaught":false,"x":860,"y":60,"wires":[["b37fdb63.967c48"]]},{"id":"b37fdb63.967c48","type":"debug","z":"7c18aacc.0e4814","name":"Errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":60,"wires":[]},{"id":"8c0bd642.9e8808","type":"debug","z":"7c18aacc.0e4814","g":"367b0a48.3f6ff6","name":"Hurley EPIC Metadata","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":494,"y":357,"wires":[],"inputLabels":["Hurley"],"l":false},{"id":"24d12aec.5303c6","type":"function","z":"7c18aacc.0e4814","name":"Set Bearer token","func":"var idToken = msg.payload.idToken;\nmsg = {};\nmsg.payload = {};\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/fhir+json';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":55,"y":1340,"wires":[[]],"l":false},{"id":"19cc5fc1.e6696","type":"http request","z":"7c18aacc.0e4814","g":"91ea135a.a2b6e","name":"Searching for Clinical Data by Patient name","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://hapi.fhir.org/baseR4/Patient/2582461/_history/1?_pretty=true","tls":"","persist":false,"proxy":"","authType":"basic","x":471,"y":260,"wires":[["d18fedd7.12b29"]]},{"id":"cce3d563.d6abf8","type":"debug","z":"7c18aacc.0e4814","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":730,"y":1220,"wires":[]},{"id":"da71caa8.7b6c78","type":"function","z":"7c18aacc.0e4814","name":"Prep for saving","func":"msg.payload.expires_at = msg.payload.expires_in * 1000 + Date.now()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1220,"wires":[["cce3d563.d6abf8"]]},{"id":"bca90059.1ebea","type":"change","z":"7c18aacc.0e4814","name":"Prepare request Spotify","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.grant_type","pt":"msg","to":"refresh_token","tot":"str"},{"t":"set","p":"payload.refresh_token","pt":"msg","to":"spotify.tokens.refresh_token","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"{\t    \"content-type\": \"application/x-www-form-urlencoded\",\t    \"authorization\": \"Basic \" & $base64encode($flowContext('spotify').client_id & \":\" & $flowContext('spotify').client_secret)\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":1220,"wires":[["3c4125c4.5ab68a"]]},{"id":"7d0bd981.ba1138","type":"debug","z":"7c18aacc.0e4814","name":"Nellie and a token","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":1180,"wires":[]},{"id":"3c4125c4.5ab68a","type":"http request","z":"7c18aacc.0e4814","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://fhir.epic.com/interconnect-fhir-oauth/oauth2/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":1220,"wires":[["da71caa8.7b6c78"]]},{"id":"51b445ae.71d79c","type":"inject","z":"7c18aacc.0e4814","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1180,"wires":[[]]},{"id":"f4d7d146.1831","type":"comment","z":"7c18aacc.0e4814","name":"Retrieve access_token","info":"","x":140,"y":40,"wires":[]},{"id":"d18fedd7.12b29","type":"debug","z":"7c18aacc.0e4814","g":"91ea135a.a2b6e","name":"Patient data: HAPI Fhir","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":781,"y":260,"wires":[]},{"id":"b790d343.88871","type":"inject","z":"7c18aacc.0e4814","g":"fc807737.64c5c8","name":"Get bearer Token","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["e6f4311d.302ad"]]},{"id":"cc76870e.ff9728","type":"inject","z":"7c18aacc.0e4814","g":"fc807737.64c5c8","name":"Settings","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":110,"wires":[["ec85d72e.daf768"]]},{"id":"ec85d72e.daf768","type":"change","z":"7c18aacc.0e4814","g":"fc807737.64c5c8","name":"Client ID, User secret for Production EHR","rules":[{"t":"set","p":"ClientID","pt":"flow","to":"CLIENT ID","tot":"str"},{"t":"set","p":"ClientSecret","pt":"flow","to":"CLIENT SECRET","tot":"str"},{"t":"set","p":"Channel","pt":"flow","to":"ioodyme","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":110,"wires":[[]]},{"id":"c095a5a.e82b158","type":"http request","z":"7c18aacc.0e4814","g":"fc807737.64c5c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":160,"wires":[["d9cabe72.b2bbc"]]},{"id":"d9cabe72.b2bbc","type":"function","z":"7c18aacc.0e4814","g":"fc807737.64c5c8","name":"Save Bearer","func":"const input = msg.payload;\nconst Token = \"Bearer \" + input[\"access_token\"];\nflow.set('Token', Token);\nmsg.payload = Token;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":160,"wires":[[]]},{"id":"e6f4311d.302ad","type":"function","z":"7c18aacc.0e4814","g":"fc807737.64c5c8","name":"Request token","func":"const client_id = flow.get(\"ClientID\");\nconst client_secret = flow.get(\"ClientSecret\");\n\nmsg.url = \"https://id.twitch.tv/oauth2/token?\";\nmsg.url += \"client_id=\" + client_id;\nmsg.url += \"&client_secret=\" + client_secret;\nmsg.url += \"&grant_type=client_credentials\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":160,"wires":[["c095a5a.e82b158"]]},{"id":"c4501eba.50b3d","type":"inject","z":"7c18aacc.0e4814","g":"367b0a48.3f6ff6","name":"Check Metadata","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":147,"y":357,"wires":[["3143cb91.752134"]]},{"id":"c57fc3cd.08507","type":"http request","z":"7c18aacc.0e4814","name":"Searching for Clinical Data by Patient ID","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/DSTU2/Condition?patient=TGsj9rYGI8SV-LYYkdH1JqbxYuFGfrODXSPC6iLLYkJcB&category=diagnosis","tls":"","persist":false,"proxy":"","authType":"basic","x":500,"y":900,"wires":[[]]},{"id":"74923a25.4e7c14","type":"http request","z":"7c18aacc.0e4814","name":"Finding Patients via Demographic Search","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/r4/Patient?family=Lin&given=Derrick&birthdate=1973-06-03","tls":"","persist":false,"proxy":"","authType":"basic","x":160,"y":900,"wires":[[]]},{"id":"76b5498f.3b1bc8","type":"http request","z":"7c18aacc.0e4814","name":"Relative Resource URLs (R4 and Later)","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/DSTU2/Practitioner/Thh97FZ9lU9.p-Rgpozo6vwB","tls":"","persist":false,"proxy":"","authType":"basic","x":500,"y":860,"wires":[[]]},{"id":"95249d2e.72ba7","type":"http request","z":"7c18aacc.0e4814","name":"Searching for Clinical Data by Patient ID","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/DSTU2/Condition?patient=TGsj9rYGI8SV-LYYkdH1JqbxYuFGfrODXSPC6iLLYkJcB&category=diagnosis","tls":"","persist":false,"proxy":"","authType":"basic","x":160,"y":860,"wires":[[]]},{"id":"b1c3e2a4.f2cbf","type":"http request","z":"7c18aacc.0e4814","name":"Observation -  details request ","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/r4/Patient?family=Lin&given=Derrick&birthdate=1973-06-03","tls":"","persist":true,"proxy":"","authType":"basic","x":460,"y":820,"wires":[[]]},{"id":"7943ccbb.cfff04","type":"http request","z":"7c18aacc.0e4814","name":"Searching for Clinical Data by Patient ID","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/r4/Patient?family=Lin&given=Derrick&birthdate=1973-06-03","tls":"","persist":false,"proxy":"","authType":"basic","x":160,"y":820,"wires":[[]]},{"id":"e0e5e423.fc9278","type":"inject","z":"7c18aacc.0e4814","g":"367b0a48.3f6ff6","name":"Start searching ...","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":147,"y":397,"wires":[["daebcd54.e4403"]]},{"id":"3f09c0ca.12aed","type":"http request","z":"7c18aacc.0e4814","g":"367b0a48.3f6ff6","name":"Searching for Clinical Data by Patient ID","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/r4/Patient?family=Lin&given=Derrick&birthdate=1973-06-03","tls":"","persist":true,"proxy":"","authType":"bearer","x":637,"y":397,"wires":[["80717b0.ceb2588"]]},{"id":"80717b0.ceb2588","type":"debug","z":"7c18aacc.0e4814","g":"367b0a48.3f6ff6","name":"EPIC Hurley Hospital ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":937,"y":397,"wires":[]},{"id":"daebcd54.e4403","type":"change","z":"7c18aacc.0e4814","g":"367b0a48.3f6ff6","name":"Prepare headers","rules":[{"t":"set","p":"headers['content-type']","pt":"msg","to":"application/fhir+json","tot":"str"},{"t":"set","p":"headers['accept']","pt":"msg","to":"application/fhir+json","tot":"str"},{"t":"set","p":"headers['grant_type']","pt":"msg","to":"client_credentials","tot":"str"},{"t":"set","p":"headers['client_assertion_type']","pt":"msg","to":"urn:ietf:params:oauth:client-assertion-type:jwt-bearer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":397,"wires":[["3f09c0ca.12aed"]]},{"id":"42c1e2a7.22406c","type":"inject","z":"7c18aacc.0e4814","name":"On search start ..","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"idToken\":\"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ1cm46b2lkOmZoaXIiLCJjbGllbnRfaWQiOiJmNTA5YjQwZC1jYzc2LTQ0NmEtOTQ5Zi1lZjMzYWNmMjEyZGIiLCJlcGljLmVjaSI6InVybjplcGljOk9wZW4uRXBpYy1jdXJyZW50IiwiZXBpYy5tZXRhZGF0YSI6IlF4U0pPSVkwYzFSNHJ1Tm1rZUQxVEtHWGM2amlKMW11Zy04NkNSSWZkU25IQW9wZGR2emNLSWJWUUJUek9hVjdPU3JRVm5ucnVOaVNtQ2x5cHNXRGVtVzRPTlRrWlg4YUwwNHJvQkZCYWxLQlZPb2t3VTk5TmM1cTVHWW91bHZJIiwiZXBpYy50b2tlbnR5cGUiOiJhY2Nlc3MiLCJleHAiOjE2MzUyMTgwOTMsImlhdCI6MTYzNTIxNDQ5MywiaXNzIjoidXJuOm9pZDpmaGlyIiwianRpIjoiMjBkNGEwMzgtMmI4OS00MGNiLTkyZjAtNDUyNjE5ODQzNmEwIiwibmJmIjoxNjM1MjE0NDkzLCJzdWIiOiJleGZvNkU0RVhqV3NuaEExT0dWRWxndzMifQ.iSJk_tW8nbyqAPB4xV0vmcuBntDWwppEO1xKJpEv7-ppTQ2ef-SKnowuqcCYVkf0-tTE6eUDBNt2llMkyzydZt5Xwb2noWMrGnd_gjKqCPHXZ-hBVKAiE3f3ji_R2ZvG68fS3wo06reSk-qtjqLA46RuWkyGl2DY_xCOgho0x90hhtAJLSaVuSzcwjkx6d0JWkGIP9SZNFCK_1zYLGLbP-0l_7HT7UKc9TGVn2a-uCjl7Ot8oJ-fwbB5t-KfPWC-bNVTVmLkrNztslsxDniOJN2m6iERuc7PEQl2JnvyBwWmxahX8gagijR_fOFuhAziq4fU_385l-w17BElTsciKA\"}","payloadType":"json","x":170,"y":780,"wires":[["3a098a1e.63c576"]]},{"id":"76069540.971d8c","type":"debug","z":"7c18aacc.0e4814","name":"Headers prior to search","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":1120,"wires":[]},{"id":"3a098a1e.63c576","type":"function","z":"7c18aacc.0e4814","name":"Headers & token","func":"var idToken = msg.payload.idToken;\nmsg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\nmsg.headers['Authorization'] = 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ1cm46b2lkOmZoaXIiLCJjbGllbnRfaWQiOiJkOWYwN2JlNi0yOGNkLTQ2OWEtYjJjMS1jNjU5NWNjODE5MDEiLCJlcGljLmVjaSI6InVybjplcGljOk9wZW4uRXBpYy1jdXJyZW50IiwiZXBpYy5tZXRhZGF0YSI6IkhULVNQUm1PbUZBdTR1cE91c0FpVTFkOGJ2YzF5ZmFrdy1oV3JtQ0o0amNTbGlSQ3ktSjBnM21hQ0wybVR0SnJMTS1qUnB4UGwwNXNfb2p5RE1KVmE2dHVveU5zUWNuVmJjN3FBdUFWYUMzSUNReERDS3N5NDIyQnNzbkpDOHhBIiwiZXBpYy50b2tlbnR5cGUiOiJhY2Nlc3MiLCJleHAiOjE2MjcwNjU2ODMsImlhdCI6MTYyNzA2MjA4MywiaXNzIjoidXJuOm9pZDpmaGlyIiwianRpIjoiZjY2YzAyNTAtZDZlZC00MGNkLTlmODctMzg0ODk1ZmVkZjJjIiwibmJmIjoxNjI3MDYyMDgzLCJzdWIiOiJldk5wLUtoWXdPT3FBWm4xcFoyZW51QTMifQ.HdMvjTUuwRshJC9ZRi99qp6lSQU7SSUaxcmmie_6HquNWvTfETqVPKrwKy9NMEkQgC9aYFl2iaN70D_oW0IH_moN6XB42nlhy83W1slOOW2rDg0S6svrjvUiQl8Yv62oh6MtN5feOv2t42A02adtpdlN9BuGyP4r7P7_ZMNcx6LQhtfrrtKgfviQ1mtYu5Em83ZHdAt6G_CUMadcLg4jHB1uq3xyv7hl87g_16vnP__nUHpSNJxE2A4Qppjm7Pmwq-pd1SIefUGzCsMEVPNIwMuQ8CChVHiKMaZGyFk9Lf9OmzWx8GCXeT2JodDYnirODWqVgMRH7QzfpYGdqhnX4Q';\nmsg.headers['Content-Type'] = \"application/fhir+json\";\nmsg.headers['Accept'] = \"application/fhir+json\";\nmsg.headers['grant_type']   = \"client_credentials\";\nmsg.headers['client_assertion_type'] = \"urn:ietf:params:oauth:client-assertion-type:jwt-bearer\";\nmsg.headers['client_assertion'] = idToken;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":780,"wires":[["1c54a8a1.9acf37"]]},{"id":"1c54a8a1.9acf37","type":"debug","z":"7c18aacc.0e4814","name":"Token is loaded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":780,"wires":[]},{"id":"ca19b7d8.bef2d8","type":"function","z":"7c18aacc.0e4814","name":"Set Bearer token","func":"var idToken = msg.payload.idToken;\nmsg = {};\nmsg.payload = {};\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/fhir+json';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\n//msg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.headers['Content-Type'] = \"application/x-www-form-urlencoded\";\nmsg.headers['grant_type']   = \"client_credentials\";\nmsg.headers['client_assertion_type'] = \"urn:ietf:params:oauth:client-assertion-type:jwt-bearer\";\nmsg.headers['client_assertion'] = idToken;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1120,"wires":[[]]}]